@model  Web.Models.ViewModel.BuyerSearchViewModel

@{
    ViewBag.Title = "All buyers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Pages/Buyer.js"></script>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
  <p style="margin-bottom:2px;">
    @Html.ActionLink("Create New", "Create" ,"Buyers", null, new { @class = "btn btn-default" })
</p>

@using (Ajax.BeginForm("Search", "Buyers",
                                                                                                                                                                  new AjaxOptions
                                                                                                                                                                  {
                                                                                                                                                                      HttpMethod = "Post",
                                                                                                                                                                      UpdateTargetId = "lstCusProducts",
                                                                                                                                                                      OnSuccess = "RefreshBuyerGrid"
                                                                                                                                                                  }))
{
    <div id="ajaxform">
        <div class="row">
            <div class="col-md-3 form-group">
                <label> Customer Name </label>
                @Html.TextBoxFor(model => model.Buyer.BuyerName, new { @class = "form-control"  })
            </div>
            <div class="col-md-3 form-group">
                <label> Customer Code </label>
                @Html.TextBoxFor(model => model.Buyer.CustomerCode, new { @class = "form-control"  })
            </div>
            <div class="col-md-3 form-group">

                <input type="submit" class="btn btn-default frm-button" id="btnAjaxSubmit" value="Search" />
            </div>
            <div class="col-md-3 form-group">
               

            </div>

        </div>
        <div class="row">

            <div class="col-md-6 form-group">
            </div>
            <div class="col-md-3 form-group">

            </div>
        </div>
    </div>

}
<div id="lstCusProducts">
    @Html.Partial("~/Views/Buyers/_BuyerSearch.cshtml", Model)
</div>


<script>
    $(document).ready(function () {
        $("#tblbuyers").DataTable({
            paging: true,
            aaSorting: [],
            responsive: true
        });
        $('#tblbuyers_length').remove();
        $('#tblbuyers_filter input').addClass('form-control');
        //$('div .dt-button').find('a .dt-button').each(function () { this.addClass('btn btn-default') })
    })

</script>