@model DAL.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    #dvPreview {
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
        max-height: 200px;
        max-width: 200px;
        min-height: 200px;
        min-width: 200px;
        display: block;
        border: 1px;
    }

        #dvPreview img {
            max-height: 200px;
            max-width: 200px;
        }
</style>
<script>
$(function () {
    $("#fileupload").change(function () {
        $("#dvPreview").html("");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
        if (regex.test($(this).val().toLowerCase())) {
            $("#dvPreview").show();
            $("#dvPreview").append("<img />");
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#dvPreview img").attr("src", e.target.result);
            }
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("Please upload a valid image file.");
        }
    });
    $("#frmcreateEmp").validate({

        // Specify the validation rules
        rules: {
            First_Name: "required" ,
            Last_Name: "required",
            Email: {
                required: true,
                email: true
            },
            Password: {
                required: true,
                minlength: 5
            },
            Gender: "required",
            Designation: "required",
            Description:"required",
            Joined_date: "required",
        },

        // Specify the validation error messages
        messages: {
            First_Name: "Please enter service name",
            Last_Name: "Please enter short description.",
            Email: {
                required:"Please provide email.",
                email:"Please enter a valid email address."
            },
            Password: {
                required: "Please provide a password.",
                minlength: "Your password must be at least 5 characters long."
            },

            Gender: "Please enter long description.",
            Designation:"Please enetr designation. ",
            Description: "Please enter description.",
            Joined_date: "please enter join date."

        },

        submitHandler: function (form) {
            form.submit();
        }
    });
    $('#Joined_date').datepicker({
        changeMonth: true,
        changeYear: true,
        minDate: new Date(2017, 1 - 1, 01),
    });
});
</script>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { id = "frmcreateprod", enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal customer-information">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProdDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProdDesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProdDesc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <div class="col-md-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input id="fileupload" type="file" name="file" />
                                <div id="dvPreview">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
