@model IEnumerable<DAL.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
<script>
    var editor;
    $(document).ready(function () {
        editor = new $.fn.dataTable.Editor({
            table: "#tblOrders",
            fields: [{
                label: "CustomerName:",
                name: "CustomerName"
            }
            ]
        });
        $('#tblCategory').on('click', 'tbody td:not(:first-child)', function (e) {
            editor.inline(this);
        });
        $('#tblCategory').DataTable({
            dom: "Bfrtip",
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            buttons: [
                //{ extend: "create", editor: editor },
                { extend: "edit", editor: editor },
                { extend: "remove", editor: editor }
            ]
        });
    })
</script>

@*<div class="jumbotron" id="tblCategory">*@
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table table-striped" id="tblCategory">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Description
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
@*</div>*@
<script>
    $(document).ready(function () {
        $("#tblCategory").DataTable({
            paging: true,
            aaSorting: [],
           
        });
        $('#tblCategory_length').remove();
        $('#tblCategory_filter input').addClass('form-control');
    })
   
</script>
