
@model Web.Models.ViewModel.BulkBuyViewModel

<table class="table table-striped" id="tblVendors">
    <thead>
        <tr>
            <th> Code</th>
            <th>
                Name
            </th>
            <th>Address</th>
            <th>Mobile</th>
            <th>
                Amount 
            </th>
            <th>
                InterestRate
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Return Amount
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lstVendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakenAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnAmount)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductID })*@
                    <button id="@item.BuyVendorID" class="glyphicon glyphicon-edit btnvendoredit">Edit</button>
                    @Ajax.ActionLink("Delete", "DeleteVendor", "BulkBuys", new { VendorID = item.BuyVendorID, bulkBuyID = item.BulkByID },
                    new AjaxOptions
                    {
                        Confirm = "are you sure to perform the deletion.",
                        HttpMethod = "POST",
                        UpdateTargetId = "lstVendors",
                        OnSuccess = "RefreshVendorDatatable",
                    }, new { @class = "glyphicon glyphicon-remove" })
                </td>
            </tr>
        }
    </tbody>
</table>

