
@model Web.Models.ViewModel.BorrowerViewModel

<table class="table table-striped" id="tblinstallment">
    <thead>
        <tr>

            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lstinstallments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductID })*@
                    @*<button id="@item.InstallmentID" class="glyphicon glyphicon-edit btnInstallmetedit">Edit</button>*@
                    @Ajax.ActionLink("Delete", "DeleteInstallment", "Borrowers", new { InstallmentID = item.InstallmentID, BorrowerID = item.BorrowerID },
                    new AjaxOptions
                    {
                        Confirm = "are you sure to perform the deletion.",
                        OnBegin = "BorrowerShowModel",
                        HttpMethod = "POST",
                        UpdateTargetId = "lstinstallment",
                        OnSuccess = "RefreshInstallmentDatatable",
                    },
                    new { @class = "glyphicon glyphicon-remove" })
                    
                </td>
            </tr>
        }
    </tbody>
</table>


