@model IEnumerable<DAL.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
<script>
    var editor;
    $(document).ready(function () {
        //editor = new $.fn.dataTable.Editor({
        //    table: "#tblOrders",
        //    fields: [{
        //        label: "CustomerName:",
        //        name: "CustomerName"
        //    }
        //    ]
        //});
        $('#tblOrders').on('click', 'tbody td:not(:first-child)', function (e) {
            editor.inline(this);
        });
        $('#tblOrders').DataTable({
            dom: "Bfrtip",
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            buttons: [
                //{ extend: "create", editor: editor },
                { extend: "edit", editor: editor },
                { extend: "remove", editor: editor }
            ]
        });
    })
</script>
<div>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </p>
    <table class="table table-striped" id="tblOrders">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDelevered)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDelevered)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#tblOrders").DataTable({
            paging: true,
            aaSorting: [],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                 {
                     extend: 'pdfHtml5',
                     exportOptions: {
                         columns: [0, 1, 2, 3, 4]
                     }
                 },
                  {
                      extend: "print",
                      className: "btn-sm",
                      title: $('#hdnTitle').val(),
                      text: $('#hdnprint').val(),
                      exportOptions: {
                          columns: [0,1, 2, 3,4]
                      }
                  },
            ],
        });
        $('#tblOrders_length').remove();
        $('#tblOrders_filter input').addClass('form-control');
        $('div .dt-button').find('a .dt-button').each(function () { this.addClass('btn btn-default') })
    })

</script>
